.row {
    color: var(--md-sys-color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    justify-content: end;
    gap: 0.7em;
}

@media only screen and (max-width: 640px) {
    .row {
        flex-direction: column;
        align-items: start;
    }

    nav {
        width: 100%;
    }
}
