@import url(material-theme/theme.css);

/* General */

:root {
  /* font-family: 'Fira Sans', Liberation Sans, Droid Sans, Helvetica, Verdana, sans-serif; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --md-sys-color-shadow-rgb: 0 0 0;
  --md-sys-elevation-0: 0px 0px 0px 0px
      rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow-rgb) /
          0.2),
    0px 2px 2px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 1px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
}

* {
  font-family:
    "Fira Sans",
    Liberation Sans,
    Droid Sans,
    Helvetica,
    Verdana,
    sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
  width: 100%;
}

button {
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
}

a:visited {
  color: var(--md-sys-color-primary);
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

select {
  font-size: 1em;
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-surface);
  padding: 0.5em;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--md-sys-color-outline);
  text-align: center;
}

/* Header / Footer  */

header,
footer {
  color: var(--md-sys-color-on-surface);
  background-color: var(--surface-1);
  box-sizing: unset;
  padding: 1em;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
